
12123.mwb
ActividadClases2.sql
ClasesMySQL1.sql
ClasesMySQL2.sql
ClasesMySQL3.sql
Marketing_digital.sql
semana3.ipynb
Talento_Tech_semana_2.pdf
sampledata.csv
comptagevelo2009.csv
ActividadClase2.sql
